.wrapper {
    margin: 0 auto;
    width: 800px;
    height: 50vh;
    border-style: solid;
    border-color: black;
    font-size: 40px;
}

.btn {
    margin: 0 auto;
    height: 50px;
    width: 150px;
    margin-top: 20px;
}
